<div class="login-page">

    <div class="container-fluid">
        <div class="col-md-4 offset-md-4">
            <div class="login-container">
                <h4 class="header">Sign in your account</h4>
                <input id="email" name="email" type="email" placeholder="Email" />
                <input id="password" name="password" type="password" placeholder="Password"/>

                <div class="options">
                    <input id="keepIn" name="keepIn" type="checkbox" value="keepIn"/>
                    <a>Forgot your password?</a>
                </div>

                <button class="signIn-button">Sign in</button>

                <span>Don't have an account?</span> <a>Sign up</a>
            </div>
        </div>
    </div>
</div>
