.course {
    background-color: #f5f6f8;
    padding: 10px 15px 15px 15px;
    height: 100%;
    display: flex;
    flex-direction: column;

    border-width: 1px;
    border-radius: 1px;
    border-style: solid;
    border-color: transparent;
}

.course-title {
    margin: 0px;
    padding: 0px;
}

.course-title-lesson {
    color: #c6c7c9;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.course-title-theme{
    color: black;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
}
.course-date {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.course-image {
    margin-top: 10px;
    margin-bottom: 10px;
}

.course-content {
    margin-top: 14px;
    margin-bottom: 12px;

    display: grid;
    grid-template-columns: 30% 70%;
    gap: 0.5vw 0;
}

.course-content-title {
    color: #6f7072;
    font-weight: bold;
}

.course-content-body {
    color: #737476;
}

.course-controls{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.edit-button {
    border-color: #955a5c;
    border-width: 1px;
    border-radius: 2px;
    flex: 1;
    margin-right: 7px;
}

.edit-button:hover {
    border-color: #955a5c;
    border-width: 1px;
    border-radius: 1px;
    transform: scale(1.03);
}

.cancel-button {
    background-color: #dadada;
    border-width: 0px;
    border-radius: 2px;
    color: white;
    flex: 1;
    margin-left: 7px;
}

.cancel-button:hover {
    background-color: #c7c7c7;
    border-width: 0px;
    border-radius: 1px;
    color: white;
    transform: scale(1.03);
}