<div class="course">
  <div>
    <div class="course-title">
      <span class="course-title-lesson mb-0">
        Lesson {{index}}.
      </span>
      <span class="course-title-theme mb-0">
        {{course.title}}
      </span>
    </div>

    <div class="course-date">
      <small class="text-muted">{{ course.creationDate | date: 'short' }}</small>
    </div>
  
    <div class="course-image">
        <a href="#">
          <img src="assets/images/panda.jpg" class="img-fluid rounded" alt="Responsive image">
        </a>
    </div>

    <div class="course-content">

        <div class="course-content-title">
          <span>Agenda:</span>
        </div>
        <div class="course-content-body">
          <span>{{course.description}}</span>
        </div>
  

        <div class="course-content-title">
          <span>Duration:</span>
        </div>
        <div class="course-content-body">
          <span>{{course.duration}} mins</span>
        </div>


        <div class="course-content-title">
          <span>Scripts:</span>
        </div>
        <div class="course-content-body">
          <span>19 files</span>
        </div>


        <div class="course-content-title">
          <span>Homework:</span>
        </div>
        <div class="course-content-body">
          <span>9 tasks</span>
        </div>

    </div>
  </div>
  
  <div class="mt-auto">
    <div class="course-controls">
      <a class="btn edit-button" (click)='onCourseEdit()'>EDIT</a>
      <a class="btn cancel-button" (click)="onCourseDeleted()">DELETE</a>
    </div>
  </div>
</div>