<div class="dropdown">
    <button class="btn dropdown-toggle user-menu-toggler" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="d-inline-block rounded-circle" src="assets/images/test-image.jpg" height="30px" alt=""/>
        <span class="mr-1 ml-2">Jasper</span>
        <span class="mr-1">Collins</span>
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
        <a class="dropdown-item" href="#">Something</a>
        <a class="dropdown-item" href="#">Something2</a>
        <a class="dropdown-item" href="#">Something3</a>
        <a class="dropdown-item" href="#">Something4</a>
    </div>
</div>
